# Association Rules
- Association rules are a type of unsupervised learning technique that discovers interesting relations between variables in large databases. They are intended to identify strong rules that show how frequently a itemset occurs in a transaction, or how likely an item is to be purchased given the presence of other items. Association rules are often used for market basket analysis, which is a process of finding patterns in customer purchase behavior and optimizing marketing strategies.

#### visit the following drive link for more details regarding the topics 
- **Association Rules Notes.pdf**
- https://drive.google.com/drive/folders/16hKmtmKi86ZU-uZV1Gqtk1G0e-GDn3st

In [1]:
# pip install mlxtend

In [2]:
data = [["milk","bread","rice","book"],
        ["bread","jam","book","pen"],
        ["jam","milk","bread","rice","eggs"],
        ["rice","eggs","pen","book"],
        ["eggs","pen","milk","bread","jam"],
        ["eggs","rice","bread","jam"]]

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_array = te.fit_transform(data)
te_array

array([[ True,  True, False, False,  True, False,  True],
       [ True,  True, False,  True, False,  True, False],
       [False,  True,  True,  True,  True, False,  True],
       [ True, False,  True, False, False,  True,  True],
       [False,  True,  True,  True,  True,  True, False],
       [False,  True,  True,  True, False, False,  True]])

In [4]:
import pandas as pd
df = pd.DataFrame(te_array,columns=te.columns_)
df

    book  bread   eggs    jam   milk    pen   rice
0   True   True  False  False   True  False   True
1   True   True  False   True  False   True  False
2  False   True   True   True   True  False   True
3   True  False   True  False  False   True   True
4  False   True   True   True   True   True  False
5  False   True   True   True  False  False   True

In [5]:
from mlxtend.frequent_patterns import apriori
itemset = apriori(df,min_support=0.6,use_colnames=True)
itemset

    support      itemsets
0  0.833333       (bread)
1  0.666667        (eggs)
2  0.666667         (jam)
3  0.666667        (rice)
4  0.666667  (bread, jam)

In [6]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(itemset,metric="confidence",min_threshold=0.6)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(jam),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667,1.0
1,(jam),(bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf,0.5

In [7]:
result = res[["antecedents","consequents","support","confidence","lift"]]
result

  antecedents consequents   support  confidence  lift
0     (bread)       (jam)  0.666667         0.8   1.2
1       (jam)     (bread)  0.666667         1.0   1.2

**(Optional)**

In [8]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(itemset,metric="support",min_threshold=0.6)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(jam),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667,1.0
1,(jam),(bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf,0.5

In [9]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(itemset,metric="lift",min_threshold=0.6)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bread),(jam),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667,1.0
1,(jam),(bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf,0.5